page-posts {
  .content {
    background-color: #f4f4f7;
  }
  .posts-load-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    * {
      stroke: color($colors, primary);
    }
  }

  ion-infinite-scroll .infinite-loading-spinner {
    * {
      stroke: color($colors, primary);
    }
  }

  .post-title {
    text-align: center;
  }

  .post-card-content {
      &:active{
        background-color: #f9f9f9;
      }
  }

  .post-author {
    position: relative;
    top: 5px;
  }

  .score-icon {
    position: relative;
    top: 2px;
    margin-right: 2px;
  }
}
