<ion-list inset no-lines class="comments-list">
  <ion-item *ngFor="let comment of comments">
    <p class="comment-head">
      <span class="comment-author">{{comment.author}}</span>
      <span class="comment-score">{{comment.score}} points</span>
      <span class="when"> {{(comment.created_utc | amFromUnix) | amTimeAgo}}</span>
    </p>
    <p>{{comment.body}}</p>
    <div *ngIf="comment.replies.length" class="replies-toggle">
      <span>replies ({{comment.replies.length}})</span>
      <ion-icon name="ios-arrow-down"></ion-icon>
    </div>
    <comments-list *ngIf="comment.replies.length" [comments]="comment.replies"></comments-list>
  </ion-item>
</ion-list>
