page-comments {
  .post-author {
    font-size: 1.2rem;
    color: #2b2b2b;
  }

  .comments-load-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
