page-comments {
  .post-info {
    font-size: 1.2rem;
    color: #2b2b2b;

    .post-author {
      color: color($colors, primary);
    }
  }

  .comments-load-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    * {
      stroke: color($colors, primary);
    }
  }
}
