<ion-header>

  <ion-navbar color="primary">
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="!loadCompleted" name="crescent" class="comments-load-spinner"></ion-spinner>

  <ion-card *ngIf="post.selftext">
    <ion-card-content>
      <p class="selftext">{{post.selftext}}</p>
      <ion-row class="post-info">
        <ion-col center text-left>
          <ion-note class="post-author">
            {{post.author}}
          </ion-note>
        </ion-col>
        <ion-col center text-right>
          <ion-note>
            {{(post.created_utc | amFromUnix) | amTimeAgo}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <comments-list [comments]="comments"></comments-list>

</ion-content>
